<a href="https://colab.research.google.com/github/Yashkaka/MNIST_Fashion/blob/master/twitter_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tweet-preprocessor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
# Natural Language Toolkit
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
# nltk.download('punkt')
nltk.download('stopwords')

# Sklearn Imports
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

# Preprocessing Imports
import re
import preprocessor as p
from gensim.parsing.preprocessing import remove_stopwords
import pandas as pd
import numpy as np

# Visulisation Imports
import matplotlib.pyplot as plt
import seaborn as sns

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df_original = pd.read_csv('https://raw.githubusercontent.com/QuestIT-Cell/Understanding-Machine-Learning-2022/main/Day%202/data-twitter-1.csv')
df_original.count()

target    30000
ids       30000
date      30000
flag      30000
user      30000
text      30000
dtype: int64

In [ ]:
df_original.head()

,target,ids,date,flag,user,text
0,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,I LOVE @Health4UandPets u guys r the best!!
1,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight! ...
2,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,"@DaRealSunisaKim Thanks for the Twitter add, S..."
3,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,Being sick can be really cheap when it hurts t...
4,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,@LovesBrooklyn2 he has that effect on everyone

In [ ]:
df = df_original[['target','text']]
df.target.unique()

del df_original

In [ ]:
df = df.dropna()
df = df.drop_duplicates(subset='text')
y=df['target']
df.drop(['target'],inplace=True,axis=1)

In [ ]:
def preprocess_text(row):
    text = row['text']
    # print(text)
    text = p.clean(text)
    return text

def stopword_removal(row):
    text = row['text']
    text = remove_stopwords(text)
    return text

df['text'] = df.apply(stopword_removal, axis=1)
df['text'] = df.apply(preprocess_text, axis=1)
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df

                                                    text
0                                  i love u guys r best
1        im meeting besties tonight cant wait girl talk
2      thanks twitter add sunisa i got meet hin dc ar...
3      being sick cheap hurts eat real food plus frie...
4                                                 effect
...                                                  ...
29995                hey aubrey how ya what ya dk split
29996  twaiting wife come stairs knock tivo she leave...
29997                          yer hgistory presetnation
29998                                 miss talking missy
29999  dinner ok had mussels appetizer followed chick...

[29874 rows x 1 columns]

In [ ]:
df['text'] = df['text'].apply(word_tokenize)

LookupError: ignored

In [ ]:
df.head()

In [ ]:
stemmer = PorterStemmer()
def stem_words(text):       
    return " ".join([stemmer.stem(word) for word in text])
df['text'] = df['text'].apply(lambda text: stem_words(text))

del stemmer

In [ ]:
bow=CountVectorizer()
#bow.fit(df['text'])
#text_processed = bow.transform(df['text']).toarray()

#print(text_processed)

# del bow
del df